---
layout: default
title: Início
---

<!-- iterate through the posts on this page -->
<!-- EOP: Enquanto não tiver dominio dedicado, alterar manualmente -->
{% for page in paginator.posts %}
  <div class="post">
    <!--<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>-->
    <h1><a href="http://fititnt.github.io/vivendoporai.com.br{{ page.url }}">{{ page.title }}</a></h1>
    <p class="meta">{{ page.date | date: "%B %e, %Y" }}</p>
      {{ page.content | postmorefilter: page.url, "Read the rest of this entry" }}
  </div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{site.baseurl}}{{ paginator.previous_page_path }}" class="previous">&laquo; Anterior</a>
  {% endif %}
  <span class="page_number ">Página {{ paginator.page }} de {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{site.baseurl}}{{ paginator.next_page_path }}" class="next">Próximo &raquo;</a>
  {% endif %}
</div>
