<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/print.css" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">
        <header>
          <h1><img src="../images/site/vivendo-por-ai.png" alt="Marca do blog Vivendo por AI"></h1>
          <h2 class="subtitulo">Arquitetura da informação, usabilidade, acessibilidade, UX e o dia-a-dia de quem vive isso :)</h2>
        </header>
        <hr>
        <section id="main_content">
          {{ content }}
        </section>
        <footer>
          Por <a rel="author" href="https://plus.google.com/u/0/105760636241690392399/">Juliana Fernandes</a>. Copyright © 2013 <a href="http://www.vivendoporai.com.br/">Vivendo por AI | Arquitetura da informação, usabilidade, UX e o dia-a-dia de quem vive isso</a>.
        </footer>
      </div>
    </div>
  </body>
</html>